workflows/akis-b-telegram-asistan.json
{
  "id": "AqAkisB000000001",
  "name": "Akis B — Telegram ERP Asistani",
  "nodes": [
    { "id": "b1", "name": "Telegram Dinle", "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1.1,
      "position": [0, 0], "webhookId": "f3d9a1c2-7b4e-4e5a-9c1d-000000000001",
      "parameters": { "updates": [ "message" ], "additionalFields": {} },
      "credentials": { "telegramApi": { "id": "AqTelegramBot001", "name": "Telegram @your_bot" } } },
    { "id": "b2", "name": "Salih Mi", "type": "n8n-nodes-base.if", "typeVersion": 2,
      "position": [200, 0],
      "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
        "combinator": "and",
        "conditions": [ { "leftValue": "={{ $json.message.chat.id }}", "rightValue": "YOUR_CHAT_ID",
          "operator": { "type": "number", "operation": "equals" } } ] } } },
    { "id": "b3", "name": "Intent Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [400, 0],
      "parameters": { "jsCode": "const msg = $json.message.text || '';\nconst prompt = `Asagidaki kullanici mesajini siniflandir. SADECE su JSON semasiyla cevap ver: {\"intent\": \"stok\"|\"emir\"|\"kur\"|\"sohbet\", \"arama\": \"...\"}\\n- \"stok\": bir urunun stok adedini soruyor. \"arama\" alanina urun adi/kodunu yaz (or. \"412\", \"vario\").\\n- \"emir\": acik/planli uretim emirlerini soruyor. arama bos.\\n- \"kur\": doviz kuru soruyor (euro/dolar/TL). arama bos.\\n- \"sohbet\": digerleri. arama bos.\\nMesaj: ${msg}`;\nreturn [{ json: { prompt, mesaj: msg } }];" } },
    { "id": "b4", "name": "Gemini Intent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1,
      "position": [600, 0],
      "parameters": { "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { response_mime_type: 'application/json' } }) }}",
        "options": { "response": { "response": { "responseFormat": "text" } } } },
      "credentials": { "httpHeaderAuth": { "id": "AqGeminiHeader001", "name": "Gemini API Key (header)" } } },
    { "id": "b5", "name": "Intent Coz", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [800, 0],
      "parameters": { "jsCode": "let intent = 'sohbet', arama = '';\ntry {\n  const resp = JSON.parse($json.data);\n  const c = resp.candidates[0].content.parts[0].text;\n  const p = JSON.parse(c);\n  if (['stok','emir','kur','sohbet'].includes(p.intent)) intent = p.intent;\n  arama = (p.arama || '').toString().slice(0, 60);\n} catch (e) { /* sohbete duser */ }\nreturn [{ json: { intent, arama, mesaj: $('Intent Prompt').item.json.mesaj } }];" } },
    { "id": "b6", "name": "Niyet Ayrimi", "type": "n8n-nodes-base.switch", "typeVersion": 3,
      "position": [1000, 0],
      "parameters": {
        "rules": { "values": [
          { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "combinator": "and",
              "conditions": [ { "leftValue": "={{ $json.intent }}", "rightValue": "stok", "operator": { "type": "string", "operation": "equals" } } ] },
            "renameOutput": true, "outputKey": "stok" },
          { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "combinator": "and",
              "conditions": [ { "leftValue": "={{ $json.intent }}", "rightValue": "emir", "operator": { "type": "string", "operation": "equals" } } ] },
            "renameOutput": true, "outputKey": "emir" },
          { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "combinator": "and",
              "conditions": [ { "leftValue": "={{ $json.intent }}", "rightValue": "kur", "operator": { "type": "string", "operation": "equals" } } ] },
            "renameOutput": true, "outputKey": "kur" }
        ] },
        "options": { "fallbackOutput": "extra" } } },
    { "id": "b7", "name": "PG Stok Ara", "type": "n8n-nodes-base.postgres", "typeVersion": 2.4,
      "position": [1250, -220], "alwaysOutputData": true,
      "parameters": { "operation": "executeQuery",
        "query": "SELECT name, family, qty, critical FROM items WHERE NOT archived AND (name ILIKE '%' || $1 || '%' OR tr ILIKE '%' || $1 || '%') ORDER BY name LIMIT 10",
        "options": { "queryReplacement": "={{ $json.arama }}" } },
      "credentials": { "postgres": { "id": "AqErpPostgres001", "name": "AquaERP okuma (n8n_ro)" } } },
    { "id": "b8", "name": "Stok Cevabi", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [1450, -220],
      "parameters": { "jsCode": "const esc = s => String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst rows = $input.all().map(i => i.json).filter(r => r.name);\nif (!rows.length) return [{ json: { cevap: esc(`\"${$('Intent Coz').item.json.arama}\" ile eslesen urun bulunamadi.`) } }];\nconst list = rows.map(r => `\\u2022 ${esc(r.name)} [${esc(r.family)}]: ${r.qty} adet` + (r.critical > 0 && r.qty <= r.critical ? ' \\u26a0' : '')).join('\\n');\nreturn [{ json: { cevap: '\\ud83d\\udce6 Stok durumu:\\n' + list } }];" } },
    { "id": "b9", "name": "PG Emirler", "type": "n8n-nodes-base.postgres", "typeVersion": 2.4,
      "position": [1250, -60], "alwaysOutputData": true,
      "parameters": { "operation": "executeQuery",
        "query": "SELECT id, product_name, qty, status, created_at::date AS tarih FROM production_orders WHERE status IN ('planned','active') ORDER BY id",
        "options": {} },
      "credentials": { "postgres": { "id": "AqErpPostgres001", "name": "AquaERP okuma (n8n_ro)" } } },
    { "id": "b10", "name": "Emir Cevabi", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [1450, -60],
      "parameters": { "jsCode": "const esc = s => String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst rows = $input.all().map(i => i.json).filter(r => r.product_name);\nif (!rows.length) return [{ json: { cevap: 'Acik uretim emri yok.' } }];\nconst list = rows.map(r => `\\u2022 #${r.id} ${esc(r.product_name)} \\u00d7${r.qty} [${esc(r.status)}] (${r.tarih})`).join('\\n');\nreturn [{ json: { cevap: '\\ud83c\\udfed Acik emirler:\\n' + list } }];" } },
    { "id": "b11", "name": "Kur Cek", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1,
      "position": [1250, 100],
      "parameters": { "method": "GET", "url": "https://api.frankfurter.app/latest?from=EUR&to=TRY,USD", "options": {} } },
    { "id": "b12", "name": "Kur Cevabi", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [1450, 100],
      "parameters": { "jsCode": "const r = $json.rates;\nconst eurtry = r.TRY;\nconst usdtry = r.TRY / r.USD;\nreturn [{ json: { cevap: `\\ud83d\\udcb1 Kurlar (${$json.date}):\\nEUR/TRY: ${eurtry.toFixed(2)}\\nUSD/TRY: ${usdtry.toFixed(2)}` } }];" } },
    { "id": "b13", "name": "Sohbet Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [1250, 260],
      "parameters": { "jsCode": "const prompt = `Sen AquaOps'sun: Aquatronic firmasinin Telegram uzerindeki kucuk yardimci botusun. Kisa (en fazla 4-5 cumle), samimi, Turkce cevap ver. Stok/uretim emri/kur sorulari icin ayri komutlarin oldugunu gerektiginde hatirlat.\\n\\nKullanici: ${$json.mesaj}`;\nreturn [{ json: { prompt } }];" } },
    { "id": "b14", "name": "Gemini Sohbet", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1,
      "position": [1450, 260],
      "parameters": { "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }] }) }}",
        "options": { "response": { "response": { "responseFormat": "text" } } } },
      "credentials": { "httpHeaderAuth": { "id": "AqGeminiHeader001", "name": "Gemini API Key (header)" } } },
    { "id": "b15", "name": "Sohbet Cevabi", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [1650, 260],
      "parameters": { "jsCode": "let cevap = 'Su an cevap uretemedim.';\ntry {\n  const resp = JSON.parse($json.data);\n  const c = resp.candidates;\n  if (c && c[0] && c[0].content && c[0].content.parts && c[0].content.parts[0].text) cevap = c[0].content.parts[0].text;\n} catch (e) { /* varsayilan mesaj kalir */ }\ncevap = cevap.replace(/\\*\\*/g, '').replace(/^\\s*[\\*\\-]\\s+/gm, '\\u2022 ').replace(/^#+\\s*/gm, '');\ncevap = cevap.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nif (cevap.length > 3500) cevap = cevap.slice(0, 3500) + '\\u2026';\nreturn [{ json: { cevap } }];" } },
    { "id": "b16", "name": "Cevap Gonder", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2,
      "position": [1900, 0],
      "parameters": { "resource": "message", "operation": "sendMessage",
        "chatId": "={{ $('Telegram Dinle').item.json.message.chat.id }}",
        "text": "={{ $json.cevap }}", "additionalFields": { "appendAttribution": false, "parse_mode": "HTML" } },
      "credentials": { "telegramApi": { "id": "AqTelegramBot001", "name": "Telegram @your_bot" } } }
  ],
  "connections": {
    "Telegram Dinle": { "main": [[ { "node": "Salih Mi", "type": "main", "index": 0 } ]] },
    "Salih Mi": { "main": [[ { "node": "Intent Prompt", "type": "main", "index": 0 } ], []] },
    "Intent Prompt": { "main": [[ { "node": "Gemini Intent", "type": "main", "index": 0 } ]] },
    "Gemini Intent": { "main": [[ { "node": "Intent Coz", "type": "main", "index": 0 } ]] },
    "Intent Coz": { "main": [[ { "node": "Niyet Ayrimi", "type": "main", "index": 0 } ]] },
    "Niyet Ayrimi": { "main": [
      [ { "node": "PG Stok Ara", "type": "main", "index": 0 } ],
      [ { "node": "PG Emirler", "type": "main", "index": 0 } ],
      [ { "node": "Kur Cek", "type": "main", "index": 0 } ],
      [ { "node": "Sohbet Prompt", "type": "main", "index": 0 } ]
    ] },
    "PG Stok Ara": { "main": [[ { "node": "Stok Cevabi", "type": "main", "index": 0 } ]] },
    "Stok Cevabi": { "main": [[ { "node": "Cevap Gonder", "type": "main", "index": 0 } ]] },
    "PG Emirler": { "main": [[ { "node": "Emir Cevabi", "type": "main", "index": 0 } ]] },
    "Emir Cevabi": { "main": [[ { "node": "Cevap Gonder", "type": "main", "index": 0 } ]] },
    "Kur Cek": { "main": [[ { "node": "Kur Cevabi", "type": "main", "index": 0 } ]] },
    "Kur Cevabi": { "main": [[ { "node": "Cevap Gonder", "type": "main", "index": 0 } ]] },
    "Sohbet Prompt": { "main": [[ { "node": "Gemini Sohbet", "type": "main", "index": 0 } ]] },
    "Gemini Sohbet": { "main": [[ { "node": "Sohbet Cevabi", "type": "main", "index": 0 } ]] },
    "Sohbet Cevabi": { "main": [[ { "node": "Cevap Gonder", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1", "errorWorkflow": "AqBekci000000001", "timezone": "Europe/Istanbul" }
}
